$backgroundDark: #191919;
$backgroundMedium: #403a3a;
$backgroundLight: #cab2ae;

$primary: #ffa500;
$secondary: #b29d9a;
$darkText: #191919;
$whiteText: #f0e7e6;

$heroShadow: rgba(0, 0, 0, 0.6);
$navBlackBg: #000000;
$white: #fff;
