@use './colors' as c;

@mixin flex-center($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: center;
	align-items: center;
}

@mixin flex-space($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: space-between;
	align-items: center;
}
@mixin flex-end($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: flex-end;
	align-items: center;
}
@mixin flex-start($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: flex-start;
	align-items: center;
}

@mixin burger-bar {
	height: 2px;
	width: 40px;
	background-color: c.$primary;
	// background-color: c.$secondary;
	border-radius: 1px;
}

@mixin button {
	padding: 0.75em 1em;
	color: c.$whiteText;
	// color: c.$white;
	background-color: c.$primary;
	// border: transparent;
	border: 2px solid transparent;
	border-radius: 2em;
	font-weight: bold;
	text-shadow: 0 0 3px c.$darkText;
	cursor: pointer;
	transition: transform 0.3s, color 0.3s, background-color 0.3s, border 0.3s;
}


@mixin button-hover {
	color: c.$primary;
	background-color: transparent;
	border: 2px solid c.$primary;
	// transform: scale(1.05);
}


@mixin section-box {
	min-height: 240px;
	margin: 0.5em 0;
	padding: 1.5em 1.5em;
	color: c.$whiteText;
	background-color: c.$backgroundDark;
	border-radius: 1em;
}

@mixin section-head {	margin-bottom: 1.5em;
	color: c.$primary;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;}