@use './colors' as c;

@mixin flex-center($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: center;
	align-items: center;
}

@mixin flex-space($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: space-between;
	align-items: center;
}
@mixin flex-end($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: flex-end;
	align-items: center;
}
@mixin flex-start($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: flex-start;
	align-items: center;
}

@mixin burger-bar {
	height: 2px;
	width: 40px;
	background-color: c.$secondary;
	border-radius: 1px;
}
